header {
    position: relative; /* Permite posicionar elementos encima del fondo */
    width: 100%;
    height: 300px; /* Ajusta la altura del encabezado */
    background-image: url(/images/Header.jpeg);
    background-size: 100% 100%;
    border-bottom-right-radius: 100px;
}

h1{font-size: 20px;}
h2{text-align: center; margin: 10px;}

#companyName{
    padding-left: 300px;
    font-family: "Lexend Deca";
    font-size: 50px;
    background: linear-gradient(90deg, transparent, #9df, transparent, #9df, transparent, #9df);
    background-size: 200% 200%; /*background box*/
    -webkit-background-clip: text; /*? copy background colo into text*/
    -webkit-text-stroke: 6px transparent; /*stroke size and color (transparent for background gradient)*/
    animation: gradient 10s ease infinite; /*? duration and style animation*/
}
/*h1 color animation*/
@keyframes gradient{
    0%, 100%{background-position: 0% 50%;}
    50%{background-position: 100% 50%}
}

#logoLP{
    position: absolute;
    top: 5%; /* Ajusta la posición vertical de la imagen superior izquierda */
    left: 1%; /* Ajusta la posición horizontal de la imagen superior izquierda */
    width: 175px; /* Ajusta el ancho de la imagen superior izquierda */
    height: auto; /* Mantiene la proporción de la imagen */
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(33, 33, 33, 75%);
    width: 50%;
    float: right;
    border-bottom-left-radius: 20px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.menu a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #222;
    color: #9df;
}

.tablita{
    margin-top: 30px;
    width: 500px;
}

.titulo{
    padding: 5px;
    text-align: center;
    background-color: #999;
    font-weight: bold;
}

.separator{
    border: 0;
    border-top: 1px solid #666;
}

.fields{font-weight: bold;}

.buy{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid #000;
    background-image: linear-gradient(150deg, #fff, #9df  50%, #fff);
    transition: 0.5s;
    box-shadow: 0 0 20px #eee;
    border-radius: 30px;
    padding: 10px;
    background-color: #f4fffd;
    background-size: 200% auto;
    font-weight: 700;
    width: 200px;
    color: #333;
    width: 200px;
    border: 1px solid #000;
    margin: 15px auto 0 auto;
    cursor: pointer;
}

.buy:hover {
    background-position: right center; /* change the direction of the change here */
    color: #000;
}